1 24 "app.manifest"
 
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "zmxl"
      VALUE "FileDescription", "Taskbar Lyrics for Salt Player Windows"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "taskbar-lyrics"
      VALUE "LegalCopyright", "https://github.com/zmxlsss666/TaskbarLyricsPlugin"
      VALUE "ProductName", "Taskbar Lyrics"
      VALUE "ProductVersion", "1.0.0"
      VALUE "Comments", "License: Apache-2.0 | Source: https://github.com/zmxlsss666/TaskbarLyricsPlugin | Author: zmxl"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END